<h1>Listing members</h1>

<strong>Selected Member</strong>

<br />
Name: <%= @member.first_name %> <%= @member.last_name %>
<br />
City: <%= @member.city %>
<br /><br />

<%= page_entries_info @members %>
<br /><br />

<table>
  <tr>
    <th>First name</th>
    <th>Bio</th>
    <th>Birthday</th>
    <th>Parelli level</th>
    <th>City</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.first_name %></td>
    <td><%= member.bio %></td>
    <td><%= member.birthday %></td>
    <td><%= member.parelli_level %></td>
    <td>
      <% if member.city != nil %>
        <%= member.city %>
      <% end %>
    </td>
    <td>
      <% if member.location != nil %>
      <%= member.location[0] %> , <%= member.location[1] %>
      <% end %>
    </td>
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />
<%= will_paginate @members %>
<br />

<%= link_to 'New Member', new_member_path %>
